.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: var(--text);
  color: var(--white);
  padding: 60px;
}

.contact h2 {
  font-size: 24;
}

.contact__info {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.contact__info > div {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.contact__info > div svg {
  width: 24px;
  height: 24px;
}

.contact__info > div svg path {
  fill: var(--silver);
}

.contact__socials {
  display: flex;
  column-gap: 32px;
}

.contact__socials a:hover svg {
  transform: scale(1.2);
}

.contact__socials svg {
  width: 32px;
  height: 32px;

  transition: all 0.4s;
}
